<!--Posts#index
Find me in app/views/posts/index.html.erb-->


<div class="container">
  <h1>Dev BootFace</h1>

  <%= link_to 'New Post', new_post_path %>

  <% posts.each do |post| %>
    <p><%= post.content %></p>
  <% end %>
</div>
